@model List<WebApplication1.DTO.CartElementDto>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script hidden src="https://api-maps.yandex.ru/v3/?apikey=46514e07-4df3-4059-9c68-309be409aa4b&lang=ru_RU"></script>
<script src="~/js/Cart.js" asp-append-version="true"></script>
<script src="~/js/Map.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Map.css" asp-append-version="true" />

<div class="menu-content-wrapper">
    <div class="content-container">
        <div class="list-mini-card">
            @foreach (var item in Model)
            {
                <div class="mini-card" id="@item.ProductId">
                    <img src="~/@item.product.ImageUrl" class="mini-card-img">
                    <span class="mini-card-name">@item.product.Name</span>
                    <span class="mini-card-price">@item.product.Price.ToString("C")</span>
                     <span class="quantity">@item.Count шт.</span>
                </div>
                <svg width="700" height="2" viewBox="0 0 700 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <line y1="1" x2="700" y2="1" stroke="black" stroke-width="2" />
                </svg>
            }
        </div>
        <div class="input-parameters">
            <div class="address-name">Адрес доставки:</div>
            @if(ViewBag.Address != null)
            {
                <div class="address-container" id="@ViewBag.Address.AddressId">
                    <div class="address-element" id="city-element">Город: @ViewBag.Address.City</div>
                    <div class="address-element" id="street-element">Улица: @ViewBag.Address.Street</div>
                    <div class="address-element" id="house-element">Дом: @ViewBag.Address.House</div>
                    <div class="address-element" id="appartment-element">Квартира: @ViewBag.Address.Apartment</div>
                </div>
            }
            else
            {
                <div class="address-container">
                    <div class="address-element" id="city-element">Город: не указан</div>
                    <div class="address-element" id="street-element">Улица: не указана</div>
                    <div class="address-element" id="house-element">Дом: не указан</div>
                    <div class="address-element" id="appartment-element">Квартира: не указана</div>
                </div>
            }
            <div class="button-change-address">Изменить</div>
            <div class="payment-name">Способы оплаты</div>
            <div class="payment-container">
                <div class="payment-method">
                    <input type="radio" name="payment" id="cash-method" checked> Наличная оплата
                </div>
                <div class="payment-method">
                    <input type="radio" name="payment" id="card-method"> Оплата картой
                </div>
            </div>
            <div class="button-back">Назад</div>
            <div class="button-accept">Оплатить</div>
        </div>
    </div>
    <div class="map-modal">
        <div class="close">&times;</div>
        <div class="map-modal-header">
            <div class="map-modal-header-name">Выберите адрес:</div>
        </div>
        <div id="map">
            <svg xmlns="http://www.w3.org/2000/svg" width="512px" height="512px" class="center-marker" fill="#E67225">
                <path d="M256,0C167.625,0,96,71.625,96,160c0,23.875,5.25,46.563,14.594 66.875l121.875,264.469C238.313,504.062,246.688,512,256,512c9.312,0 17.688-7.938,23.531-20.625l121.875-264.5C410.781,206.563,416,183.875 416,160C416,71.625,344.375,0,256,0z M256,256c-53,0-96-43-96-96s43-96 96-96s96,43,96,96S309,256,256,256" />
            </svg>
        </div>
        <div class="map-modal-footer">
            <div class="address-data"></div>
            <div class="address-add">Добавить</div>
        </div>
        <div id="send-address-data">Выбрать</div>
    </div>
</div>