@model WebApplication1.DTO.PaymentPageDto

<div class="menu-content-wrapper">
    <div class="content-container">
        <div class="list-mini-card">
            @foreach (var item in Model.Products)
            {
                <div class="mini-card">
                    <input type="checkbox" class="cart-item-checkbox" data-product-id="@item.ProductId" />
                    <img src="@item.ImageUrl" class="mini-card-img">
                    <span class="mini-card-name">@item.Name</span>
                    <span class="mini-card-price">@item.Price.ToString("C")</span>
                    <div class="buttons">
                        <div class="decrease-quantity" data-product-id="@item.ProductId">-</div>
                        <span class="quantity">@item.Count</span>
                        <div class="increase-quantity" data-product-id="@item.ProductId">+</div>
                    </div>
                    <svg width="700" height="2" viewBox="0 0 700 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <line y1="1" x2="700" y2="1" stroke="black" stroke-width="2" />
                    </svg>

                </div>
            }

        </div>

        <div class="address-name">Адрес доставки:</div>
        <div class="address-container">
            <div class="address-element" id="city">Город: </div>
            <div class="address-element" id="street">Улица: </div>
            <div class="address-element" id="house">Дом: </div>
            <div class="address-element" id="appartment">Квартира: </div>
        </div>
        <div class="button-change-address">Изменить</div>
        <div class="payment-name">Способы оплаты</div>
        <div class="payment-container">
            <input type="radio" class="cash-method"> Наличная оплата
            <input type="radio" class="card-method"> Оплата картой
        </div>
        <div class="button-back">Назад</div>
        <div class="button-accept">Оплатить</div>
    </div>
</div>